{% load static %}

<!-- about section -->
<div class="about" id="about">
    <div class="container">
        <h1 class="text-center">Обо мне</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="{% static 'images/team-1.jpg' %}" class="img-fluid">
                <span class="text-justify" align="center">Учитель истории и обществознания</span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 desc">

                <h3>Быковская Наталья Анатольевна</h3>
                <p>
                    Учитель истории и обществознания
                    МБОУ "Губкинская сош"
                    Малоархангельского района Орловской области
                    Образование - высшее, ОГУ (бывший ОГПИ), 1989г.
                    квалификационная категория - высшая

                </p>
            </div>
        </div>
    </div>
</div>