<!--<nav class="navbar navbar-expand-lg fixed-top "> -->
<div class="container">
    <nav class="navbar navbar-expand-lg fixed-top ">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">

                <li class="nav-item">
                    <a class="nav-link" data-value="about" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="portfolio" href="#">Portfolio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Визитная карточка
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Мои достижения</a>
                        <a class="dropdown-item" href="#">Успехи моих учеников</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Повышение квалификации</a>
                    </div>
                <li class="nav-item">
                    <a class="nav-link " data-value="team" href="#">Фотоальбом</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="blog" href="#">Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="contact" href="#">Contact</a>
                </li>
            </ul>

        </div>
    </nav>

</div>