<!-- portfolio -->
<div class="portfolio">
    <h1 class="text-center">Дипломы</h1>
    <div class="container">
        {% for category in categoryes %}
        {% if category.regards_count > 0 %}
        <h1 class="text-center">{{ category.category }}</h2>
            {% endif %}

            <div class="row">

                {% for image in category.regards_set.all %}
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img align="center" src="{{ image.regard_image.url }}" class="img-fluid">
                </div>
                {% endfor %}
            </div>
            {% endfor %}
    </div>
</div>